.bracket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 2em 2em;
    margin: auto 10vw;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matchup {
    margin-top: .5em;
    background-color: var(--accent);
    color: var(--background);
    border-radius: .75em;
}

.matchup td {
    padding: .25em .5em;
}
.matchup td.seed {
    width: auto;
    border-right: 1px solid var(--primary);
}
.matchup td.name {
    width: 10em;
    border-right: 1px solid var(--primary);
}
.matchup td.score {
    width: auto;
    border-left: 1px solid var(--primary);
}

.team1 {
    border-bottom: 1px solid var(--primary);
}

.team2 {
    border-top: 1px solid var(--primary);
}
