.scroll-top {
    position: fixed;
    z-index: 99;
    bottom: 18px;
    right: 18px;
    background-color: var(--primary);
    border-radius: 4em;
    padding: 1em 1.25em;
}

@media screen and (max-width: 600px) {
    .scroll-top {
        padding: .75em 1em;
    }
}
