.news {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}

article {
    width: 100%;
    background-color: var(--accent);
    border-radius: 1em;
    padding: .5em;
    color: var(--background);
}

.title {
    font-size: 1.5em;
    display: flex;
    align-items: right;
}

.date {
    font-size: .6em;
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    .title {
        display: block;
    }
    .date {
        display: block;
    }
}
